header, body, footer {
    color: skyblue;
    align-content: center;
    background-color: black;
}

navbar, footnav {
    color: navy;
    align-content: center;
    background color: skyblue;
}


h1, h2, h3 {
    color: navy;
}

